/*============== Navbars ======================*/

.Nav1 {
    background-color: #0069c0 !important;
    padding: 0;
    width: 100%;
}

.Nav1 a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.Nav2 {
    background-color: #2196f3 !important;
    width: 100%;

}

.Nav2 a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.Nav2 .navbar {
    padding-left: 0;
    padding-right: 0;
}

/*Navbard-brand Icon*/
.Nav2 .navbar-brand {
    color: white;
}

.Nav2 .navbar-brand:hover {
    color: white;
}

.Nav2 .navbar-brand:visited {
    color: white;
}

.Dropdown-menu a {
    color: #000;
}

/*==============Navbars End ======================*/

/*============== Carrousel ======================*/

.Overlay{
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.Carousel-item img {
    max-width: 100%;
    height: 500px;
    position: relative;
    z-index: -5;
}

.Carousel-caption {
    margin-bottom: 150px;
}

/*============== Carrousel End======================*/

/*============== Body ======================*/
.Card {
    margin-bottom: 20px;
}

.Card img {
    width: 100%;
    height: 200px;
    padding: 0;
}

.subCardTitle a{
    color: #202124;
    font-size: 24px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}


.LoginIcon {
    width: 64px !important;
    height: 64px !important;
}

.SignIn {
    text-align: center;
    font-size: 24px;
    color: #202124;
    margin-top: 5px;
    margin-bottom: 0px;
}

.Sub {
    text-align: center;
    color: #202124;
}

.ButtonRow {
    margin-top: 10%;
    margin-bottom: 5%;
}

/*============== Body End======================*/

/*================== Control Button ================*/

.ButtonPrimary {
    background-color: transparent;
    font-size: 15px;
    border: 1px solid #1a73e8;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1a73e8;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    padding: 5px 20px 5px 20px;

}

.ButtonPrimary:hover{
    background-color: transparent;
    font-size: 15px;
    border: 1px solid #1a73e8;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1a73e8;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

.singleActionBtn{
    color: #1a73e8;
    border: solid 1px #dfdfdf;
}
.singleActionBtn:hover{
    color: #1a73e8;
    background-color: #E8F0FE;
}



.ModalControlPrimary{
    color: white;
    border: 1px solid white;
    background-color: #1a73e8;
    cursor: pointer !important;
}
.ModalControlPrimary:hover{
    color: white;
    background-color: #1a73e8;
    cursor: pointer !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.ModalControlSecondary{
    border: solid 1px #dfdfdf;
    color: #1a73e8;
    cursor: pointer;
    margin-right: 10px;
}
.ModalControlSecondary:hover{
    border: solid 1px #dfdfdf;
    color: #1a73e8;
    cursor: pointer;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

/*================== Control Button End=============*/

/*============== Sidebar======================*/
.Sidebar .nav-link {
    color: #212529;
    padding: 5px 8px 8px 8px;
}

/*Category*/
/*Recent Post*/
.CardRecentPost {
    border: 0;
}

.CardRecentPost .card-body {
    padding-right: 5px;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.CardRecentPost .card-title {
    margin-top: 0;
    font-size: 14px;
}

/*============== Sidebar End======================*/

/*============== Other ======================*/
.unknown{
    height: 64px;
    width: 64px;
    color: #1a73e8;
    background-color: #e8f0fe;
    border-radius: 50%;
    text-align: center;
}
/*============== Other End======================*/

/*============== Footer======================*/
.Footer{
    background-color: #0069C0;

}

.Up{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    background-color: #2196F3;
    text-align: center;
    margin-top: -24px;
    /*background-color: #2196F3;*/
}